argcomplete
asgiref
attrs
Babel
bcc
black
blinker
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
Django
django-crispy-forms
flake8
gyp
httplib2
idna
isort
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libvirt-python
louis
markdown-it-py
MarkupSafe
mccabe
mdurl
mypy-extensions
netaddr
netifaces
oauthlib
olefile
packaging
pathspec
pexpect
pillow
pipx
platformdirs
psutil
ptyprocess
pycairo
pycodestyle
pycups
pyflakes
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
setuptools
six
sqlparse
systemd-python
toml
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
userpath
vboxapi
wadllib
wheel
xdg
xkit
